@model IEnumerable<UJTUT.Models.Tutor>

@{
    ViewData["Title"] = "Index";
}

<h1>Ready to help out others?</h1>

<p>
    <a style="font-size:160%;" asp-action="Create">Create Tutor Profile</a>
</p>


