@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="card" ;">

        <div class="card-header" style="text-align:center">


            <div class="card-body">

                <h1 class="display-4">Welcome to UJ Tutor</h1>
                <p>Click <a asp-area="" asp-controller="Tutors" asp-action="showsearchform">Search</a> to look for tutors or <a class="" asp-area="" asp-controller="Tutors" asp-action="Index">Are you a Tutor?</a> to create your account if you are a tutor to get started</p>
            </div>
        </div>
    </div>
</div>
    
    









