@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="card">

        <div class="card-header" style="text-align:center">
      

            <div class="card-body">

                <h1 class="display-4">Welcome to UJ Tutor</h1>
                <p>Click Search or Are you a Tutor? to get started</p>
            </div>






