@{
    ViewData["Title"] = "About UJ TUTOR";
}
<h1><img src="~/StylingImages/OUR LOGO.PNG" alt="" style="float:left;width:50px;height:50px;">@ViewData["Title"]</h1>

<p> UJ TUTOR is a web application designed by UJ students for UJ students with the aim of helping students who are struggling with their
    academics to find assistance through tutoring and also to help UJ students make money by exercising their expertise in various modules
    by becoming tutors. We believe UJ as a community is academically self sufficient and students can uplift other students which will lead to 
    an improvement in the overall passrate.</p>
    
<p>
    The concept of students helping other students will ensure that students get assistance in a more cormfotable and less formal manner and students will
    be able to ask questions freely where they do not understand as opposed to the rigid and formal atmosphere in lectures.
</p>
    
<p>
    We hope this tool will help users connect to fellow tutors and students in the manner that "WE" as the developers anticipate.
</p>

<h2> Contact Details</h2>

<p>
    Any questions and queries can be forwarded to Ujtutor05@gmail.com which is our official support email or you can click <a href="https://docs.google.com/forms/d/e/1FAIpQLSf2JOPnqy4sI1-WN677VzGw-o_QTQO9gSeSyYwcFHyggSWz8Q/viewform"> here</a> to directly write to us.
    .
</p>

<p>
    NB:Tutors are exepected to operate in a professional manner and if a student feels like a Tutor showed inappropriate behaviour
    they should not resitate to send us an email so that we can take necessary measures.

</p>
